{% extends 'base.html' %}

{% block body %}

<div class="flex flex-inline">

      <div class="max-w-4xl mx-auto px-2 py-8">
        <div class="bg-white rounded-lg shadow-md mb-8">
            <img src="{{recipe.recipe_image}}" alt="Article Cover Image" class="w-full h-64 object-cover rounded-t-lg">
            <div class="px-6 py-4">
                <div class="text-gray-600 text-sm mb-2">By <span class="font-medium">{{recipe.author}}</span></div>
                <div class="flex flex-inline">
                    <h1 class="text-gray-600 text-3xl font-semibold mb-4">{{recipe.title}}</h1>
                    
                    <a class="mt-1.5" href={% url 'recipe:recipefavourite' recipe.slug %}>
                      {% if is_favourite %}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="ml-2 w-7 h-7 text-red-700">
                          <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
                        </svg>                      
                      {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="ml-2 w-7 h-7 text-gray-600 hover:text-red-500">
                          <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
                        </svg>            
                      {% endif %} 
                    </a>
                    
                    {% if request.user == recipe.author %}
                    <div class="flex flex-inline mt-2 ml-4">
                        <p class="text-gray-600 mx-2">|</p>
                        <a href="{% url 'recipe:recipeupdate' recipe.slug %}">
                          <svg class="w-6 h-6  ml-1 text-bold text-gray-600 hover:text-yellow-600 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                          </svg>                                               
                        </a>
                        <a href="{% url 'recipe:recipedelete' recipe.slug %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="None" class=" text-bold text-red-600 w-6 h-6 hover:text-red-700 ml-4" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>
                        </a>
                    </div>
                    {% endif %}  
                  </div>
                <div class="flex flex-wrap mb-4">
                  {% for tag in recipe.tags.all %}
                    <div class="bg-yellow-500 text-white rounded-full px-3 py-1 text-xs font-semibold mr-2 mb-2">{{tag}}</div>
                  {% endfor %}  
                </div>
                <div class="text-gray-600 mb-4">
                  <div class="flex items-center mb-2">
                    <svg class="w-4 h-4 mr-1 text-gray-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <circle cx="12" cy="12" r="10"></circle>
                      <path d="M12 6L12 12 16 16"></path>
                    </svg>  
                      <span>Preparation Time: 30 minutes</span>
                  </div>
                  <div class="flex items-center mb-2">
                    <svg class="w-4 h-4 mr-1 text-gray-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                    </svg>
                      <span>Serving Size: 4</span>
                  </div>
              </div>
                <div class="prose">
                  <blockquote class="border-l-4 border-blue-500 bg-blue-50 p-4 my-4 italic">
                    <p>{{recipe.ingredients}}</p>
                  </blockquote>
                  <p class="leading-normal">
                    <span class="text-4xl font-bold text-blue-500">{{recipe.instructions|safe|slice:":1"}}</span>{{recipe.instructions|safe|slice:"1:"}}
                  </p>

                    <p>{{recipe.instructions|safe}}</p>
                </div>
            </div>
        </div>
      </div>

      
      <section class="text-gray-600 body-font">
        <p class="text-3xl font-semibold mt-4 ml-6">You may also like..</p>
        <div class="container px-5 py-12 mx-auto border-l-4 border-gray-500 opacity-90">
          
          <div class="flex flex-wrap -m-5">
          
        {% for recipe in similar_recipes %}
              <div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
                <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md" style="background-image: url('{{recipe.recipe_image}}')">
                </div>
              
                <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800">
                    <h3 class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase dark:text-white">{{recipe.title}}</h3>
                
                    <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
                        <span class="flex  flex-inline text-gray-800 dark:text-gray-200">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                          </svg>{{recipe.prep_time}} Minutes  
                        </span>
                        <a href="{% url 'recipe:recipedetail' recipe.slug %}">
                        <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">View recipe</button>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}   
          
          
        </div>
        </div>
      </section> 

    

</div>

{% endblock body %}