{% extends 'base.html' %}

{% block body %}

<div class="flex flex-inline">

      <div class="max-w-4xl mx-auto px-2 py-8">
        <div class="bg-white rounded-lg shadow-md mb-8">
            <img src="{{recipe.recipe_image}}" alt="Article Cover Image" class="w-full h-64 object-cover rounded-t-lg">
            <div class="px-6 py-4">
                <div class="text-gray-600 text-sm mb-2">By <span class="font-medium">{{recipe.author}}</span></div>
                <h1 class="text-gray-600 text-3xl font-semibold mb-4">{{recipe.title}}</h1>
                <div class="flex flex-wrap mb-4">
                  {% for tag in recipe.tags.all %}
                    <div class="bg-yellow-500 text-white rounded-full px-3 py-1 text-xs font-semibold mr-2 mb-2">{{tag}}</div>
                  {% endfor %}  
                </div>
                <div class="text-gray-600 mb-4">
                  <div class="flex items-center mb-2">
                    <svg class="w-4 h-4 mr-1 text-gray-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <circle cx="12" cy="12" r="10"></circle>
                      <path d="M12 6L12 12 16 16"></path>
                    </svg>  
                      <span>Preparation Time: 30 minutes</span>
                  </div>
                  <div class="flex items-center mb-2">
                    <svg class="w-4 h-4 mr-1 text-gray-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                    </svg>
                      <span>Serving Size: 4</span>
                  </div>
              </div>
                <div class="prose">
                  <blockquote class="border-l-4 border-blue-500 bg-blue-50 p-4 my-4 italic">
                    <p>{{recipe.ingredients}}</p>
                  </blockquote>
                  <p class="leading-normal">
                    <span class="text-4xl font-bold text-blue-500">{{recipe.instructions|safe|slice:":1"}}</span>{{recipe.instructions|safe|slice:"1:"}}
                  </p>

                    <p>{{recipe.instructions|safe}}</p>
                </div>
            </div>
        </div>
      </div>

      
      <section class="text-gray-600 body-font">
        <p class="text-3xl font-semibold mt-4 ml-6">You may also like..</p>
        <div class="container px-5 py-12 mx-auto border-l-4 border-gray-500 opacity-90">
          
          <div class="flex flex-wrap -m-5">
          
        {% for recipe in similar_recipes %}
              <div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
                <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md" style="background-image: url('{{recipe.recipe_image}}')">
                </div>
              
                <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800">
                    <h3 class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase dark:text-white">{{recipe.title}}</h3>
                
                    <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
                        <span class="flex  flex-inline text-gray-800 dark:text-gray-200">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                          </svg>{{recipe.prep_time}} Minutes  
                        </span>
                        <a href="{% url 'recipe:recipedetail' recipe.slug %}">
                        <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">View recipe</button>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}   
          
          
        </div>
        </div>
      </section> 

    

</div>

{% endblock body %}