{% extends 'base.html' %}
{% load static %}

{% block body %}



<div class="lg:w-1/2 w-full my-6 ml-12 lg:mb-0">
  <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Your history</h1>
  <div class="h-1 w-20 bg-yellow-500 rounded"></div>
</div>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-wrap -m-4">
   
  {% for recipe in recipes %}
        <div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
          <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md" style="background-image: url({{recipe.recipe_image.url}})"></div>
        
          <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800">
              <h3 class="py-2 font-bold tracking-wide text-center text-gray-800 uppercase dark:text-white">{{recipe.title}}</h3>
          
              <div class="flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700">
                  <span class="flex  flex-inline text-gray-800 dark:text-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>{{recipe.prep_time}} Minutes  
                  </span>
                  <a href="{% url 'recipe:recipedetail' recipe.slug %}">
                  <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none">View recipe</button>
                  </a>
              </div>
          </div>
      </div>
  {% endfor %}   
    
  
  </div>
  </div>
</section>

{% endblock body %}


