{% load static %}
<!doctype html>
<html>
<head>
  {% block head %}{% endblock head %}
  <title>{% block title %}{% endblock title %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <!--load style.css and main.js in django template-->
  <link rel="stylesheet" type="text/css"s href="{% static 'css/style.css' %}">
  <script src="{% static 'js/main.js' %}"></script>
</head>
</body>
<nav>
<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img  class="h-10 w-16 -mt-4 -ml-8  "src="{% static 'content/site_logo.jpg' %}" alt="logo">
        <span class="ml-3 text-xl">Lavender Snake</span>
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center  font-bold justify-center">
        <a href="{% url 'home' %}" class="mr-5 text-gray-600  hover:text-yellow-600">Home</a>
        <a href="{% url 'recipe:recipelist' %}" class="mr-5 text-gray-600  hover:text-yellow-500">Explore</a>
        <a href="{% url 'recipe:recipecreate' %}" class="mr-5 text-gray-600  hover:text-yellow-600">Create</a>
        <a href="{% url 'recipe:recipehistory' %}" class="mr-5 text-gray-600 hover:text-yellow-600">    
            <svg  xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M75 75L41 41C25.9 25.9 0 36.6 0 57.9V168c0 13.3 10.7 24 24 24H134.1c21.4 0 32.1-25.9 17-41l-30.8-30.8C155 85.5 203 64 256 64c106 0 192 86 192 192s-86 192-192 192c-40.8 0-78.6-12.7-109.7-34.4c-14.5-10.1-34.4-6.6-44.6 7.9s-6.6 34.4 7.9 44.6C151.2 495 201.7 512 256 512c141.4 0 256-114.6 256-256S397.4 0 256 0C185.3 0 121.3 28.7 75 75zm181 53c-13.3 0-24 10.7-24 24V256c0 6.4 2.5 12.5 7 17l72 72c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-65-65V152c0-13.3-10.7-24-24-24z"/></svg>
        </a>  
      </nav>
      {% if user.is_authenticated %}
      <a href="{% url 'users:profile' user.username %}" class="mr-5 text-gray-900  hover:text-yellow-600">Profile</a>
      <a href="{% url 'logout' %}">
        <button class="inline-flex items-center bg-red-300 border-0 py-1 px-3 text-red-600 focus:outline-none hover:text-red-200 rounded text-base mt-4 md:mt-0">Logout
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </a>

      {% else %}
      <a href="{% url 'signup'  %}" class="mr-5 text-gray-900  hover:text-yellow-600">Sign up</a>
      <a href="{% url 'login' %}">
        <button class="inline-flex items-center bg-yellow-300 border-0 py-1 px-3 text-white focus:outline-none hover:text-yellow-200 rounded text-base mt-4 md:mt-0">Login
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </a>
      {% endif %}
    </div>
  </header>
</nav>  
  {% block body %}{% endblock body %}

</body>
</html>
