{% load static %}
<!doctype html>
<html>
<head>
  {% block head %}{% endblock head %}
  <title>{% block title %}{% endblock title %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <!--load style.css and main.js in django template-->
  <link rel="stylesheet" type="text/css"s href="{% static 'css/style.css' %}">
  <script src="{% static 'js/main.js' %}"></script>
</head>
</body>
<nav>
<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Lavender Snake</span>
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center  font-bold justify-center">
        <a href="{% url 'home' %}" class="mr-5 text-gray-600  hover:text-yellow-600">Home</a>
        <a href="" class="mr-5 text-gray-600  hover:text-yellow-500">Explore</a>
        <a href="" class="mr-5 text-gray-600  hover:text-yellow-600">Create</a>
      </nav>
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">
        <button class="inline-flex items-center bg-red-300 border-0 py-1 px-3 text-red-600 focus:outline-none hover:text-red-200 rounded text-base mt-4 md:mt-0">Logout
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </a>

      {% else %}
      <a href="{% url 'signup' %}" class="mr-5 text-gray-900  hover:text-yellow-600">Sign up</a>
      <a href="{% url 'login' %}">
        <button class="inline-flex items-center bg-yellow-300 border-0 py-1 px-3 text-yellow-600 focus:outline-none hover:text-yellow-200 rounded text-base mt-4 md:mt-0">Login
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </a>
      {% endif %}
    </div>
  </header>
</nav>  
  {% block body %}{% endblock body %}

</body>
</html>
